  <div class="oneEvent">
    <div class="event-left">
      <div class="event-date">
        <div class="date">wed 24</div>
        <div class="month">aug</div>
      </div>
    </div>
    <div class="event-right">
      <h3 class="event-title">pop umai</h3>
      <div class="event-description">Lorem ipsum dolor sit amet.</div>
      <div class="event-timing">
        <i class="fa-solid fa-clock-three">10:00</i>
      </div>
    </div>
  </div>