{{!}}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <header id="aboutTitle">About Pop Umai</header>
  <div class="about-container">
    <section class="aboutPage">

      <h4 class="our-story-title">Our story
      </h4>
      <p id="storyTag">
        "A goal without a deadline is just a dream." - Mark Cuban
        <br />

        <br />
        Every otaku dreams of visiting the nerdy places of Japan. Rocio
        Escobedo was no exception to that. During the summer of 2021,
        Ms. Escobedo was scrolling through Twitter and seeing all the
        new anime cafes that were occurring in Japan. She was frustrated
        that places like that didn't exist in the United States. At some
        point, she thought 'Why can't someone do that here?' And that's
        when the little voice in her head said, 'well why don't you do
        it?'
        <br />

        <br />
        After months of researching, Pop Umai was born.
      </p>

      <div>
        <br>
        <h4 class="our-story-title">Mission statement
        </h4>

        <p id="storyTag">
          Pop Umai's mission is to recreate the fun dining experience of
          a Japanese anime café for the anime community in Southern
          California.
          <br />

          <br />
          We aim to make it easier for US anime fans to have the same
          dine-in experience as a fan in Japan would.
        </p>
      </div>
    </section>

    <img id="mascot2" src="/assets/images/Purely_Anime chibi commission transparent.png" alt="popMascot2">

  </div>

</body>

</html>