<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cookies Page</title>
</head>

<body>
<header id="cookieTitle">POP Umai Cookies</header>
    <section class="cookiePage">



<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  {{!-- Bleach --}}
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://i.imgur.com/SFw4Nka.jpeg" alt="slide-1">
        <div class="carousel-caption d-md-block">
          <h5>Bleach</h5>
          <p>Ichigo</p>
        </div>
    </div>
    {{!-- Demon Slayer --}}
    <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/t6zobNv.jpeg" alt="slide-2">
        <div class="carousel-caption d-md-block">
          <h5>Demon Slayer</h5>
          <p>Giyu</p>
        </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/g0R6Xf5.jpeg" alt="slide-3">
        <div class="carousel-caption d-md-block">
          <h5>Demon Slayer</h5>
          <p>Giyu</p>
        </div>
    </div>
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/5DojFho.jpeg" alt="slide-4">
        <div class="carousel-caption d-md-block">
          <h5>Demon Slayer</h5>
          <p>Inosuke</p>
        </div>
    </div>
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/QqQ8OMu.jpeg" alt="slide-5">
        <div class="carousel-caption d-md-block">
          <h5>Demon Slayer</h5>
          <p>Inosuke Boar Head</p>
        </div>
    </div>
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/EQGRFxX.jpeg" alt="slide-6">
        <div class="carousel-caption d-md-block">
          <h5>Demon Slayer</h5>
          <p>Mitsuri</p>
        </div>
    </div>
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/SdBBBfj.jpeg" alt="slide-7">
        <div class="carousel-caption d-md-block">
          <h5>Demon Slayer</h5>
          <p>Mitsuri</p>
        </div>
    </div>
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/TBo1o0o.jpeg" alt="slide-8">
        <div class="carousel-caption d-md-block">
          <h5>Demon Slayer</h5>
          <p>Nezuko</p>
        </div>
    </div>
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/CiBwZG7.jpeg" alt="slide-9">
        <div class="carousel-caption d-md-block">
          <h5>Demon Slayer</h5>
          <p>Rengoku</p>
        </div>
    </div>
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/NPbRoiI.jpeg" alt="slide-10">
        <div class="carousel-caption d-md-block">
          <h5>Demon Slayer</h5>
          <p>Rengoku</p>
        </div>
    </div>
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/AAzoNUN.jpeg" alt="slide-11">
        <div class="carousel-caption d-md-block">
          <h5>Demon Slayer</h5>
          <p>Shinobu</p>
        </div>
    </div>
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/tJ5MRLO.jpeg" alt="slide-12">
        <div class="carousel-caption d-md-block">
          <h5>Demon Slayer</h5>
          <p>Shinobu</p>
        </div>
    </div>
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/W2y7pAI.jpeg" alt="slide-13">
        <div class="carousel-caption d-md-block">
          <h5>Demon Slayer</h5>
          <p>Tanjiro</p>
        </div>
    </div>
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/J9uFYWZ.jpeg" alt="slide-14">
        <div class="carousel-caption d-md-block">
          <h5>Demon Slayer</h5>
          <p>Zenitsu</p>
        </div>
    </div>
    {{!-- Fruits Basket --}}
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/2dSfOG7.jpeg" alt="slide-15">
        <div class="carousel-caption d-md-block">
          <h5>Fruits Basket</h5>
          <p>Tohru Riceball</p>
        </div>
    </div>
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/uXhr2G7.jpeg" alt="slide-16">
        <div class="carousel-caption d-md-block">
          <h5>Fruits Basket</h5>
          <p>Tohru Riceball</p>
        </div>
    </div>
    {{!-- Fullmetal Alchemist --}}
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/Vd1v7cJ.jpeg" alt="slide-17">
        <div class="carousel-caption d-md-block">
          <h5>Fullmetal Alchemist</h5>
          <p>Alphonse</p>
        </div>
    </div>
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/j7bWb3V.jpeg" alt="slide-18">
        <div class="carousel-caption d-md-block">
          <h5>Fullmetal Alchemist</h5>
          <p>Alphonse</p>
        </div>
    </div>
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/h4O49vJ.jpeg" alt="slide-19">
        <div class="carousel-caption d-md-block">
          <h5>Fullmetal Alchemist</h5>
          <p>Flamel</p>
        </div>
    </div>
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/Hv7wvLx.jpeg" alt="slide-20">
        <div class="carousel-caption d-md-block">
          <h5>Fullmetal Alchemist</h5>
          <p>Ouroboros</p>
        </div>
    </div>
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/LcIusPd.jpeg" alt="slide-21">
        <div class="carousel-caption d-md-block">
          <h5>Fullmetal Alchemist</h5>
          <p>Ouroboros</p>
        </div>
    </div>
    {{!-- Genshin Impact --}}
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/5I9mnvb.jpeg" alt="slide-22">
        <div class="carousel-caption d-md-block">
          <h5>Genshin Impact</h5>
          <p>Childe</p>
        </div>
    </div>
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/jlu2M7B.jpeg" alt="slide-23">
        <div class="carousel-caption d-md-block">
          <h5>Genshin Impact</h5>
          <p>Childe</p>
        </div>
    </div>
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/f6tkY2r.jpeg" alt="slide-24">
        <div class="carousel-caption d-md-block">
          <h5>Genshin Impact</h5>
          <p>Diluc</p>
        </div>
    </div>
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/THboyLd.jpeg" alt="slide-25">
        <div class="carousel-caption d-md-block">
          <h5>Genshin Impact</h5>
          <p>Diluc</p>
        </div>
    </div>
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/eC2dHpe.jpeg" alt="slide-26">
        <div class="carousel-caption d-md-block">
          <h5>Genshin Impact</h5>
          <p>Ganyu</p>
        </div>
    </div>
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/4Ky2M83.jpeg" alt="slide-27">
        <div class="carousel-caption d-md-block">
          <h5>Genshin Impact</h5>
          <p>Gorou</p>
        </div>
    </div>
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/sdsvJo1.jpeg" alt="slide-28">
        <div class="carousel-caption d-md-block">
          <h5>Genshin Impact</h5>
          <p>Gorou</p>
        </div>
    </div>
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/jEopoEj.jpeg" alt="slide-29">
        <div class="carousel-caption d-md-block">
          <h5>Genshin Impact</h5>
          <p>Hu Tao</p>
        </div>
    </div>
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/VkuPuvO.jpeg" alt="slide-30">
        <div class="carousel-caption d-md-block">
          <h5>Genshin Impact</h5>
          <p>Hu Tao</p>
        </div>
    </div>
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/zJAl7Kv.jpeg" alt="slide-31">
        <div class="carousel-caption d-md-block">
          <h5>Genshin Impact</h5>
          <p>Itto</p>
        </div>
    </div>
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/yMtxpAH.jpeg" alt="slide-32">
        <div class="carousel-caption d-md-block">
          <h5>Genshin Impact</h5>
          <p>Itto</p>
        </div>
    </div>
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/INRMVfy.jpeg" alt="slide-33">
        <div class="carousel-caption d-md-block">
          <h5>Genshin Impact</h5>
          <p>Kaeya</p>
        </div>
    </div>
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/3MAyp5a.jpeg" alt="slide-34">
        <div class="carousel-caption d-md-block">
          <h5>Genshin Impact</h5>
          <p>Kazuha</p>
        </div>
    </div>
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/IhJD4AC.jpeg" alt="slide-35">
        <div class="carousel-caption d-md-block">
          <h5>Genshin Impact</h5>
          <p>Raiden Shogun</p>
        </div>
    </div>
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/i3z1zM6.jpeg" alt="slide-36">
        <div class="carousel-caption d-md-block">
          <h5>Genshin Impact</h5>
          <p>Raiden Shogun</p>
        </div>
    </div>
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/uXZdZVL.jpeg" alt="slide-37">
        <div class="carousel-caption d-md-block">
          <h5>Genshin Impact</h5>
          <p>Venti</p>
        </div>
    </div>
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/wg6ALgN.jpeg" alt="slide-38">
        <div class="carousel-caption d-md-block">
          <h5>Genshin Impact</h5>
          <p>Xiao</p>
        </div>
    </div>
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/22uo3r2.jpeg" alt="slide-39">
        <div class="carousel-caption d-md-block">
          <h5>Genshin Impact</h5>
          <p>Zhongli</p>
        </div>
    </div>
    {{!-- Haikyuu --}}
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/hjwnRrn.jpeg" alt="slide-40">
        <div class="carousel-caption d-md-block">
          <h5>Haikyuu</h5>
          <p>Hinata Shoyo</p>
        </div>
    </div>
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/KkEZA9I.jpeg" alt="slide-41">
        <div class="carousel-caption d-md-block">
          <h5>Haikyuu</h5>
          <p>Hinata Shoyo</p>
        </div>
    </div>
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/k4aG5dF.jpeg" alt="slide-42">
        <div class="carousel-caption d-md-block">
          <h5>Haikyuu</h5>
          <p>Kuroo Tetsurou Cat</p>
        </div>
    </div>
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/fJ8N3rn.jpeg" alt="slide-43">
        <div class="carousel-caption d-md-block">
          <h5>Haikyuu</h5>
          <p>Tobio Kageyama</p>
        </div>
    </div>
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/lMME3ye.jpeg" alt="slide-44">
        <div class="carousel-caption d-md-block">
          <h5>Haikyuu</h5>
          <p>Tobio Kageyama</p>
        </div>
    </div>
    {{!--Jujutsu Kaisen --}}
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/VOEdmnO.jpeg" alt="slide-45">
        <div class="carousel-caption d-md-block">
          <h5>Jujutsu Kaisen</h5>
          <p>Gojo Satoru</p>
        </div>
    </div>
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/FtUBDJT.jpeg" alt="slide-46">
        <div class="carousel-caption d-md-block">
          <h5>Jujutsu Kaisen</h5>
          <p>Kento Nanami</p>
        </div>
    </div>
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/sWp3qbd.jpeg" alt="slide-47">
        <div class="carousel-caption d-md-block">
          <h5>Jujutsu Kaisen</h5>
          <p>Kento Nanami</p>
        </div>
    </div>
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/k7bOR0l.jpeg" alt="slide-47">
        <div class="carousel-caption d-md-block">
          <h5>Jujutsu Kaisen</h5>
          <p>Sukuna</p>
        </div>
    </div>
    {{!-- My Hero Academia --}}
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/aJvWpzN.jpeg" alt="slide-48">
        <div class="carousel-caption d-md-block">
          <h5>My Hero Academia</h5>
          <p>Bakugo</p>
        </div>
    </div>
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/6e5mlmT.jpeg" alt="slide-49">
        <div class="carousel-caption d-md-block">
          <h5>My Hero Academia</h5>
          <p>Bakugo</p>
        </div>
    </div>   
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/HotROjI.jpeg" alt="slide-50">
        <div class="carousel-caption d-md-block">
          <h5>My Hero Academia</h5>
          <p>Bakugo Gauntlet</p>
        </div>
    </div>   
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/SNNRSrg.jpeg" alt="slide-51">
        <div class="carousel-caption d-md-block">
          <h5>My Hero Academia</h5>
          <p>Deku</p>
        </div>
    </div>    
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/qTut11F.jpeg" alt="slide-52">
        <div class="carousel-caption d-md-block">
          <h5>My Hero Academia</h5>
          <p>Plus Ultra</p>
        </div>
    </div>   
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/6Ka0I58.jpeg" alt="slide-53">
        <div class="carousel-caption d-md-block">
          <h5>My Hero Academia</h5>
          <p>Shoto</p>
        </div>
    </div>   
    {{!-- Naruto Shippuden --}}
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/55afdoh.jpeg" alt="slide-54">
        <div class="carousel-caption d-md-block">
          <h5>Naruto Shippuden</h5>
          <p>Kakashi</p>
        </div>
    </div>   
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/yV7cMVq.jpeg" alt="slide-55">
        <div class="carousel-caption d-md-block">
          <h5>Naruto Shippuden</h5>
          <p>Naruto</p>
        </div>
    </div>   
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/nHrSPpJ.jpeg" alt="slide-56">
        <div class="carousel-caption d-md-block">
          <h5>Naruto Shippuden</h5>
          <p>Sasuke</p>
        </div>
    </div>
       {{!-- One Piece --}}
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/NX8YEdi.jpeg" alt="slide-57">
        <div class="carousel-caption d-md-block">
          <h5>One Piece</h5>
          <p>Luffy</p>
        </div>
    </div>
    {{!-- Sailor Moon --}}
        <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/8MkaBYf.jpeg" alt="slide-58">
        <div class="carousel-caption d-md-block">
          <h5>Sailor Moon</h5>
          <p>Sailor Moon</p>
        </div>
    </div>                                                              
        
             
    </div>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>