<h2>ADMIN DASHBOARD</h2>
<br />
<hr />
<p>Hey, ur logged it!</p>
<hr />
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor delectus
	consequatur quas rem voluptas, distinctio voluptatum assumenda praesentium in
	aliquam commodi fugiat molestias odit consequuntur aperiam inventore saepe
	quia. Hic quibusdam accusantium voluptatum similique praesentium, assumenda
	corrupti natus, corporis amet non animi earum facere debitis veniam voluptate
	vel eaque molestias.</p>
<a id='a' href=''>logout</a>