{{! When i go to the events page, i want to see all the upcoming events,
in each individual events there should be a date as an h3, a headline as a h4,
along with a paragraph explaining a bit about the event, the time of the event
as an h3 and below that the current location. }}

<div class="event-container">

  {{!-- upcomming events  --}}
  <div class="upcoming-events">
    <h3 class="year">Upcoming Events</h3>
    {{!-- {{}} --}}
  </div>

  {{!-- previous events  --}}
  <div class="previous-events">
    <h3 class="year">Previous Events</h3>
    {{!-- {{}} --}}
  </div>
</div>