<div class="event-container">

    {{!-- upcomming events --}}
    <div class="event-section event-upcomming">
        <div class="container">
            <h2 class="event_headline">Upcoming Events</h2>
            {{#each events as |event|}}
                {{#if is_upcoming}}
                    {{> eventCard}}
                {{/if}}
            {{/each}}
        </div>
    </div>

    {{!-- previous events --}}
    <div class="event-section event-prev reveal">
        <div class="container">
            <h2 class="event_headline ">Previous Events</h2>
            {{#each events as |event|}}
                {{#if is_upcoming}}
                {{else}}
                    {{> eventCard}}
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>