
<div class="event-container">

  {{!-- upcomming events  --}}
  <div>
    <h3 class="event_headline">Upcoming Events</h3>
    {{!-- {{}} --}}
  </div>

  {{!-- previous events  --}}
  <div>
    <h3 class="event_headline">Previous Events</h3>
    {{!-- {{}} --}}
  </div>
</div>
