{{! When i go to the events page, i want to see all the upcoming events,
in each individual events there should be a date as an h3, a headline as a h4,
along with a paragraph explaining a bit about the event, the time of the event
as an h3 and below that the current location. }}

<div class="event-container">
  <h3 class="year">2022</h3>
  <div class="oneEvent">
    <div class="event-left">
      <div class="event-date">
        <div class="date">wed 24</div>
        <div class="month">aug</div>
      </div>
    </div>
    <div class="event-right">
      <h3 class="event-title">pop umai</h3>
      <div class="event-description">Lorem ipsum dolor sit amet.</div>
      <div class="event-timing">
        <i class="fa-solid fa-clock-three"></i>
      </div>
    </div>
  </div>
</div>