{{!--  Name and content of this page may vary. This was just a file that existed in the activity 22. May end up being renamed, repurposed, deleted, etc --}}


  <section class="hero" role="img" aria-label="Image Description">
    <img id="smile" src="/assets/images/OC_eye smile.png" alt="POP smile">
  </section>


  <main>
    <section class="aboutUs">
      <h2>About Us</h2>
      <p id="aboutBio">What is POP Umai?</p>
      <p id="aboutTag">
        POP Umai is a start-up business established in late 2021. We sell numerous anime-themed desserts and aim to open
        up a brick and mortar location in the future. Our mission is to recreate the fun dining experience of a Japanese
        anime cafe for the anime community in Southern California.
      </p>
    </section>

    <section class="events">
      <div class="left-half">
        <h2>Events</h2>
        <p id="eventTag">Love anime and food? Then you'll love us! Stop by one of our local pop-up cafes and taste some
          of
          our anime-inspired meals and desserts. Current anime theme is Demon Slayer</p>
        <div class="text-box">
          <a href="/events" class="btn btn-white btn-        animate">View Events</a>
        </div>
      </div>
      <div class="right-half">
        <img id="mascot" src="/assets/images/commission without bg.png" alt="popMascot">
      </div>

    </section>

      <div class="homeCookie-container">
        <section class="cookies">
        <div class="right-cookie">
          <h2>Custom Cookies</h2>
          <p id="cookieTag">
            Not only do we transform local businesses into anime pop-up cafes, 
            we also make custom cookies that are solid exclusively at our events! We currently have over 200+ designs for sugar cookies and come in a variety of flavors such as regular with royal icing, chocolate, chocolate chip and vegan. 
            <br />


          
            <br />
            Custom orders can also be placed ahead of time and picked up at the day event! To inquire about placing a custom order, please send us
            a message using the Contact form.
            <br />

            <br />
            Forms of payment accepted are: Venmo, Zelle, and Paypal.
          </p>

            <div class="text-box"> 
              <a href="/cookies" class="btn btn-dark btn-        animate">View Cookies</a>
            </div>

          </div>
          <div class="left-cookie">
            <img id="homecookie" src="/assets/images/home_cookie.png" alt="homeCookie">
          </div>

        </section>
      </div>

    <section class="followUs">
      <h2>Follow Us</h2>
      <ul class="icons">
        <li>
          <a href="https://www.facebook.com/PopUmaiCafe" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-facebook fa-2x"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/pop_umai" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-square-instagram fa-2x"></i>
          </a>
        </li>
        <li>
          <a href="https://www.tiktok.com/@pop_umai" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-tiktok fa-2x"></i>
          </a>
        </li>
        <li>
          <a href="https://www.twitter.com/pop_umai" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-square-twitter fa-2x"></i>
          </a>
        </li>
      </ul>
    </section>


    <section class="inquiries">
      <h2>Have questions or concerns?</h2>
      <div class="container">
        <p id="sub-title">Send us a message!</p>
        <form action="">
          <!-- User's Options  -->
          <select class="questions-input">
            <option value="business">Business Inquiries</option>
            <option value="order">Cookie Orders</option>            
            <option value="question">General Questions</option>
          </select>
          <!-- User's Name  -->
          <input class="questions-input" type="text" id="contactName" placeholder="Name" />
          <!-- User's Email  -->
          <input class="questions-input" type="email" id="contactEmail" placeholder="Email" />
          <!-- User's Message  -->
          <textarea class="questions-input" id="contactMessage" placeholder="Message"></textarea>
          <div class="btn-container">
            <!-- Send button   -->
            <button class="event-btn" id="contactSend">
              <a id="formBtn" href="#">SEND</a>
            </button>
          </div>
        </form>
      </div>
    </section>
