{{!-- Name and content of this page may vary. This was just a file that existed in the activity 22. May end up being
renamed, repurposed, deleted, etc --}}


<section class="hero" role="img" aria-label="Image Description">
  <img id="smile" src="/assets/images/OC_eye smile.png" alt="POP smile">
</section>


<main>
  <section class="aboutUs">
    <h2>About Us</h2>
    <p id="aboutBio">What is POP Umai?</p>
    <p id="aboutTag">
      POP Umai is a start-up business established in late 2021. We sell numerous anime-themed desserts and aim to open
      up a brick and mortar location in the future. Our mission is to recreate the fun dining experience of a Japanese
      anime cafe for the anime community in Southern California.
    </p>
  </section>

  <section class="events">
    <div class="left-half">
      <h2>Events</h2>
      <p id="eventTag">Love anime and food? Then you'll love us! Stop by one of our local pop-up cafes and taste some
        of
        our anime-inspired meals and desserts. Current anime theme is Demon Slayer</p>
      <div class="text-box">
        <a href="/events" class="btn btn-white btn-animate">View Events</a>
      </div>
    </div>
    <div class="right-half">
      <img id="mascot" src="/assets/images/commission without bg.png" alt="popMascot">
    </div>

  </section>

      <div class="homeCookie-container">
        <section class="cookies">
        <div class="right-cookie">
          <h2>Custom Cookies</h2>
          <p id="cookieTag">
            Not only do we transform local businesses into anime pop-up cafes, 
            we also make custom cookies that are sold exclusively at our events! We currently have over 200+ designs for sugar cookies that come in a variety of flavors such as; regular with royal icing, chocolate, chocolate chip and vegan. 
            <br />


          
            <br />
            Custom orders can also be placed ahead of time and picked up at the day of the event! To inquire about placing a custom order, please send us
            a message using the Contact form.
            <br />

            <br />
            Forms of payment accepted are: Venmo, Zelle, and Paypal.
          </p>

            <div class="text-box"> 
              <a href="/cookies" class="btn btn-dark btn-        animate">View Cookies</a>
            </div>

          </div>
          <div class="left-cookie">
            <img id="homecookie" src="/assets/images/home_cookie.png" alt="homeCookie">
          </div>

        </section>
      </div>

  <section class="followUs">
    <h2>Follow Us</h2>

    <div id="social-media-container">

      {{>twitter}}

      <ul class="icons">
        <li>
          <a href="https://www.facebook.com/PopUmaiCafe" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-facebook fa-3x"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/pop_umai" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-square-instagram fa-3x"></i>
          </a>
        </li>
        <li>
          <a href="https://www.tiktok.com/@pop_umai" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-tiktok fa-3x"></i>
          </a>
        </li>
        <li>
          <a href="https://www.twitter.com/pop_umai" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-square-twitter fa-3x"></i>
          </a>
        </li>
      </ul>
    </div>

  </section>


<section class="inquiries">
  <h2>Have questions or concerns?</h2>
  <div class="container">
    <p id="sub-title">Send us a message!</p>
    <form id="form">
      <select name="question" class="questions-input" id="option">
        <option value="Business Inquiries">Business Inquiries</option>
            <option value="order">Cookie Orders</option>            
        <option value="General Questions">General Questions</option>
        <option value="Cookie Inquiries">Cookie Inquiries</option>
      </select>

      <input class="questions-input" type="text" name="from_name" placeholder="Name" id="from_name">

      <input class="questions-input" type="email" name="to_name" id="contactEmail" placeholder="Email" />

      <textarea class="questions-input" type="text" name="message" id="message" placeholder="Message"></textarea>

      <button type="submit" class="event-btn" id="contactSend" value="send">
        <p id="submitBtn">SEND</p>
      </button>
    </form>
  </div>
</section>
</main>