/* Dashboard page */
#admin-title {
  margin: 1rem;
}

h3 {
	padding: 0;
	margin: 0;
}

/* Buttons */
#admin-event-container button {
  padding: 5px 20px;
  border-radius: 1rem;
}

#logout-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

#admin-event-container {
	background-color: rgb(240, 240, 240);
}

.admin-btn-container {
  display: flex !important;
  flex-wrap: wrap;
  gap: 3vw;
  justify-content: center;
  align-items: center;
	padding-bottom: 10px;
}

.admin-subtitle {
	font-family: 'Alfa Slab One', cursive;
	font-size: 35px;
	padding: 35px;
	color: #262626;
	text-align: center;
	justify-content: center;
	margin: 0;
}

.create-container, .edit-event-container {
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 0 45px;
	gap: 15px;
}

#selected-event-container {
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 15px;
	width: 100%;
}

.create-container input, .create-container textarea, .edit-event-container input, .edit-event-container textarea, #select-event-input {
	padding: 0.5rem;
	border-radius: 8px;
	border: 1px solid rgb(240, 240, 240);
	outline: none;
  width: 70%;
}

.create-container textarea, .edit-event-container textarea {
	resize: none;
	min-height: 140px;;
}

#delete-confirm-btn {
	background-color: red;
}

.create-container input, .create-container textarea, .questions-input, .edit-event-option, #selected-event-container input, #selected-event-container textarea {
  background-color: #fff ;
}

@media screen and (max-width: 670px) {
  .admin-btn-container {
    flex-direction: column;
    gap: 1vh;
  }

  .admin-btn-container div a {
    margin: 10px !important;
  }

  .create-container input, .create-container textarea, .edit-event-container input, .edit-event-container textarea, #select-event-input {
    width: 85%;
  }
}