/* Dashboard page */
#admin-title {
  margin: 1rem;
}

h3 {
	padding: 0;
	margin: 0;
}

/* Buttons */
#admin-event-container button {
  padding: 5px 40px;
  border-radius: 1rem;
  transition: all 0.3s ease;
  background-color: var(--purple-clr);
  border-radius: 10px;
  border: none;
  color: #fff;
  align-self: center;
  text-align: center;
}

#admin-event-container button:hover {
  background-color: var(--blue-clr);
}

#delete-event-btn {
	background-color: red !important;
}

#delete-event-btn:hover {
  background-color: #9e0000 !important;
}

#logout-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

#admin-event-container {
	background-color: rgb(240, 240, 240);
}

.admin-btn-container {
  display: flex !important;
  flex-wrap: wrap;
  gap: 3vw;
  justify-content: center;
  align-items: center;
	padding-bottom: 10px;
}

.admin-subtitle {
	font-family: 'Alfa Slab One', cursive;
	font-size: 35px;
	padding: 35px;
	color: #262626;
	text-align: center;
	justify-content: center;
	margin: 0;
}

.create-container, .edit-event-container {
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 0 45px;
	gap: 15px;
}

#selected-event-container {
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 15px;
	width: 100%;
}

.create-container input, .create-container textarea, .edit-event-container input, .edit-event-container textarea, #select-event-input, #is-event-over {
	padding: 0.5rem;
	border-radius: 8px;
	border: 1px solid rgb(240, 240, 240);
	outline: none;
  width: 70%;
}

.create-container textarea, .edit-event-container textarea {
	resize: none;
	min-height: 140px;;
}

.create-container input, .create-container textarea, .questions-input, .edit-event-option, #selected-event-container input, #selected-event-container textarea, #is-event-over {
  background-color: #fff ;
}

#is-event-over {
  width: 30%;
  margin-bottom: 2rem;
}

@media screen and (max-width: 670px) {
  .admin-btn-container {
    flex-direction: column;
    gap: 1vh;
  }

  .admin-btn-container div a {
    margin: 10px !important;
  }

  .create-container input, .create-container textarea, .edit-event-container input, .edit-event-container textarea, #select-event-input {
    width: 85%;
  }
}