@font-face {
  font-family: "Retroking Rough";
  src: url("../assets/fonts/Retroking\ Rough.ttf") format("truetype");
}

@font-face {
  font-family: "Retroking";
  src: url("../assets/fonts/Retroking.ttf") format("truetype");
}

@font-face {
  font-family: "Berlin Sans";
  src: url("../assets/fonts/Berlin\ Sans\ FB\ Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Berlin Sans";
  src: url("../assets/fonts/BRLNSDB.TTF") format("truetype");
  font-weight: bold;
}

h2, h4, header, #aboutBio {
  font-family: "Retroking Rough", 'Alfa Slab One', cursive !important;
}

p, a {
  font-family: "Berlin Sans", sans-serif !important;
}

.nav-item {
  font-family: "Berlin Sans", sans-serif !important;
  font-weight: bold;
}