/* navbar styling */

#logo-main {
	display: block;
	margin: 10px auto;
	width: 180px;
}

.navbar-toggler-icon:focus {
	outline: none;
}

.mainNav {
	width: 100%;
	text-align: center;
	list-style: none;
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 0;
	gap: 2px 12px;
}

.mainNav li {
	display: inline-block;
	float: none;
	margin: 0 10px;
	/* box-shadow: 0 2px 0px 0px rgb(0 0 0 / 25%); */
}

.mainNav a {
	display: inline-block;
	font-family: "Alfa Slab One", cursive;
	font-size: 18px;
	color: whitesmoke;
	-webkit-text-stroke-width: 0.7px;
	-webkit-text-stroke-color: var(--dark-clr);
	text-decoration: none;
	font-weight: bold;
}

.mainNav a:hover {
	-webkit-text-stroke-width: 0.7px;
	-webkit-text-stroke-color: var(--purple-clr);
}

.mainNav:focus {
	color: var(--purple-clr);
}

.navbar {
	background-color: white;
}

#Logo {
	z-index: 1;
}

/* Hero Section */

.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	width: 100%;
	/* Change hero height here*/
	height: 70vh;
	overflow: hidden;
	background-size: cover !important;
	background: url(/assets/svg/hero.svg) no-repeat center center scroll;
}

#smile {
	max-width: 400px;
	vertical-align: middle;
}

h2 {
	font-family: "Alfa Slab One", cursive;
	z-index: 1;
	font-style: normal;
	color: var(--purple-clr);
	font-size: 3.9rem;
	letter-spacing: 0.03em;
	line-height: 1;
	margin-bottom: 40px;
	text-align: center;
}

/* About Us Section */

.aboutUs {
	/* background-color: rgba(203, 200, 200, 0.889); */
	padding: 100px;
	width: 100%;
	overflow: hidden;
	background-size: cover !important;
	background: url(/assets/svg/aboutMe.svg) no-repeat center 65%;
}

#aboutBio {
	font-family: "Alfa Slab One", cursive;
	font-size: 25px;
	color: var(--dark-clr);
	text-align: center;
	justify-content: center;
}

#aboutTag {
	font-size: 20px;
	max-width: 600px;
	justify-content: center;
	text-align: center;
	margin: auto;
}

/* Events Section  */

.grey-sece {
	width: 100%;
	background-color: var(--shaded-gray);
}

.events {
	display: flex;
	background-color: var(--shaded-gray);
	padding: 45px;
	align-items: center;
	justify-content: space-evenly;
}

.left-half {
	grid-column: 1;
	align-self: center;
}

.right-half {
	grid-column: 2;
	justify-content: center;
}

#eventTag {
	font-size: 20px;
	max-width: 600px;
	justify-content: center;
	text-align: center;
	margin: auto;
}

#mascot {
	max-width: 500px;
	max-height: 500px;
	margin: auto;
}

/* Cookies Section  */

.cookies .container {
	display: flex;
	flex-direction: row-reverse;
	background-color: white;
	justify-content: center;
	align-items: center;
	padding: 3.5rem;
	gap: 2rem;
}

.left-cookie {
	display: flex;
	width: 50%;
	justify-content: center;
	align-items: center;
	padding: 1.2rem;
}

.right-cookie {
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0.5rem 2rem;
	margin-right: 0 !important;
}

#cookieTag {
	font-size: 20px;
	max-width: 600px;
	justify-content: center;
	text-align: center;
	margin: auto;
}

#homecookie {
	width: 60%;
	min-width: 320px;
	border-radius: 16px;
	justify-self: center;
	align-self: center;
}

/* follow us styling for container */
.followUs {
	text-align: center;
	justify-content: center;
	padding: 100px 45px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(240, 240, 240);
}

.followUs ul {
	display: flex;
	justify-content: center;
	padding: 0px;
}

.followUs .icons {
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.5em;
	margin-left: 1.4rem;
	color: var(--purple-clr);
}

.followUs .icons i {
	transition: all 700ms ease;
}

.followUs .icons i:hover {
	color: var(--blue-clr) !important;
}

.fa-brands {
	color: var(--purple-clr);
}

/* Footer Section  */

footer {
	background-color: rgb(240, 240, 240) !important;
}

.footerIcons {
	text-decoration: none;
	float: none;
	list-style: none;
}

.text-box {
	display: flex;
	justify-content: center;
}

.btn:link,
.btn:visited {
	text-transform: uppercase;
	text-decoration: none;
	padding: 15px 40px;
	border-radius: 100px;
	transition: all 0.2s;
}

/* main button on hover */
.btn:hover {
	transform: translateY(-3px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* main button when active */
.btn:active {
	transform: translateY(-1px);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* button on dark background */
.btn-white {
	background-color: #fff;
	color: #777;
	margin: 1.2rem 0;
}

.btn-grey {
	background-color: var(--shaded-gray);
	color: var(--dark-clr);
	margin: 1.2rem 0;
}

/* after clicking button styling */
.btn::after {
	content: "";
	height: 100%;
	width: 100%;
	border-radius: 100px;
	z-index: -1;
	transition: all 0.4s;
}

/* after styling */
.btn-white::after {
	background-color: #fff;
}

/* button hover styling after  */
.btn:hover::after {
	transform: scaleX(1.4) scaleY(1.6);
	opacity: 0;
}

/* buttons animation */
.btn-animated {
	animation: moveInBottom 5s ease-out;
	animation-fill-mode: backwards;
}

/* form inquiries */
.inquiries {
	background-color: rgb(255, 255, 255);
	padding: 4rem 2.8rem 2.8rem 2.8rem;
}

#message {
	resize: none;
	min-height: 3rem;
}

/* form subtitle */
#sub-title {
	font-size: 1.7rem;
	text-align: center;
}

/* form styling */
.inquiries form {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	gap: 1rem;
}

/* questions input styling */
.questions-input {
	padding: 0.5rem;
	border-radius: 8px;
	border: 1px solid var(--shaded-gray);
	outline: none;
}

/* form message styling */
#contactMessage {
	resize: none;
	min-height: 140px;
}

/* form styling */
.inquiries .btn-container {
	padding: 0;
}

/* form styling button */
.inquiries .btn-container button {
	padding: 0.5rem;
}

/* send button styling */
#contactSend {
	transition: all 0.3s ease;
	background-color: var(--purple-clr);
	border-radius: 10px;
	width: 50% !important;
	border: none;
	color: #fff;
	align-self: center;
	text-align: center;
}

/* form button container */
.btn-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* form button styling */
#formBtn {
	color: #fff;
	text-decoration: none;
}

input,
textarea,
select {
	background-color: var(--shaded-gray);
}

/* form button on hover styling */
#contactSend:hover {
	background-color: var(--blue-clr);
}

/* form width */
.inquiries form #contactSend {
	width: 100%;
}

/* scontainer for social media */
#social-media-container {
	display: flex;
}

/* Footer */
.footer-icon-container {
	margin-top: 3vh;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5vh;
}

/* footer icons  */
.me-4 {
	margin: 0 !important;
}

/* footer I tag */
footer i {
	font-size: 25px;
}

/* About Me Page */
#aboutTitle {
	font-size: 35px;
	font-family: "Alfa Slab One", cursive;
	color: var(--purple-clr);
	text-align: center;
	padding: 35px;
}

/* about page styling */
.aboutPage {
	text-align: center;
	justify-content: center;
	padding: 20px;
}

/* about page p tag styling */
.aboutPage p {
	font-size: 15px;
}

/* removing default styling to p tag */
p {
	margin-bottom: 0;
}

/* submit button padding */
#submitBtn {
	padding: 10px;
}

/* second mascott styling */
#mascot2 {
	max-width: 400px;
	max-height: 400px;
	margin: auto;
	justify-content: right;
}

/* about container styling */
.about-container {
	background-color: var(--shaded-gray);
	padding: 45px;
	display: flex;
}

/* about us story styling */
.our-story-title {
	font-family: "Alfa Slab One", cursive;
	font-size: 25px;
	color: var(--dark-clr);
}

/* Events Page Section */

.event-container {
	margin: 0 auto;
	padding: 1rem 0;
}

.event-section {
	padding: 1.5rem;
}

.event-container h2 {
	margin: 3rem 0;
	font-size: 3.9rem;
}

.event-upcomming {
	background-color: white;
}

.event-prev {
	background-color: var(--shaded-gray);
}

.event-prev .oneEvent {
	background-color: white;
}

.event-container .oneEvent {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
		rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	display: flex;
	border-radius: 8px;
	margin: 32px 0;
	transition: all 0.8s ease;
}

.event-container .oneEvent:hover {
	cursor: pointer;
	transform: translate(-3px, -5px);
	box-shadow: rgba(22, 22, 41, 0.25) 3px 16px 27px -5px,
		rgba(0, 0, 0, 0.585) 3px 10px 16px -8px;
}

.oneEvent .event-left {
	background-color: var(--purple-clr);
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	padding: 8px 1.4rem;
	font-weight: bold;
	font-size: 1.2rem;
	text-align: center;
	border-radius: 9px 0 0 8px;
	width: 150px;
}

.oneEvent .event-left .month {
	font-size: 16px;
	font-weight: normal;
}

.oneEvent .event-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0rem 1.5rem;
	width: 100%;
}

.event-title {
	font-size: 1.8rem;
	margin: 1rem 0;
	color: var(--dark-clr);
	text-transform: uppercase;
	width: 85%;
}

.event-description {
	border-bottom: 1px solid var(--dark-clr);
	margin-bottom: 0.5rem;
	padding: 0.5rem;
	width: 90%;
}

.event-bottom-half {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	margin: 0.5rem 0;
}

.event-ven-place {
	display: flex;
	flex-direction: column;
	margin: 1rem auto;
}

.oneEvent .event-right .event-timing {
	background: #777;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 127px;
	padding: 8px;
	border-radius: 16px;
	margin: 14px 0;
	font-size: 14px;
	color: #fff;
}

.oneEvent .event-right .event-place {
	text-align: center;
}

/* Making the elements appear on the page. */
.reveal {
	position: relative;
	transform: translateY(150px);
	opacity: 0;
	transition: 1s all ease;
}

/* Making the elements appear on the page. */
.reveal.active {
	transform: translateY(0);
	opacity: 1;
}

/* keyfram for button */
/* Cookie Page */
#cookieTitle {
	font-size: 35px;
	font-family: "Alfa Slab One", cursive;
	color: #965fcc;
	text-align: center;
	padding: 35px;
}

/* Cookie carousel Section  */

.cookie-page {
	position: relative;
}
.cookies-sub {
	text-align: center;
	margin: 1rem;
	padding: 0 2rem 2rem 3rem;
	gap: 1rem;
}

.carouselExampleIndicators {
	display: flex;
	justify-content: center;
	align-items: center;
}

.carousel {
	background: #00000017;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	filter: invert(100%);
	width: 70px;
	height: 70px;
	justify-self: center;
	align-self: center;
	z-index: 10;
}

.carousel-control-next,
.carousel-control-prev {
	position: absolute;
}

/* h5 {
    font-size: 25px;
    color: #262626;
    text-align: center;
    background-color: rgb(240, 240, 240);    
} */

.carousel-inner {
	position: relative;
	width: 40%;
	overflow: hidden;
	margin: auto;
}

.carousel-caption {
	bottom: 0;
	background-color: rgba(5, 0, 0, 0.185);
}

@keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}

	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

/* Cookies Section Mobile  */

@media screen and (max-width: 970px) {
	.cookies .container {
		display: flex;
		flex-direction: column;
	}

	.right-cookie {
		width: 100%;
		padding: 0;
	}

	.left-cookie {
		width: 100%;
	}

	#homecookie {
		width: 50%;
		min-width: 250px;
	}
}

/* media queries for mascott*/

@media screen and (max-width: 447px) {
	#mascot {
		display: none;
	}
}

/* media queries for throught whole page */
@media screen and (max-width: 670px) {
	/* globals  */
	h2 {
		font-size: 3rem;
	}

	/* Homepage */
	.hero {
		height: 55vh;
	}

	.aboutUs {
		padding: 100px 45px;
	}

	.followUs .icons {
		display: flex;
		flex-direction: row;
		padding-left: 0;
		margin: 3rem 2rem;
	}

	.followUs i {
		margin: 0 0.8rem;
	}

	#social-media-container {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-width: 100%;
	}

	.twitter-timeline {
		max-width: 350px !important;
	}

	.events {
		justify-content: center;
		padding: 100px 45px;
	}

	#mascot {
		display: none;
	}

	#eventTag {
		padding: 10px;
		margin: auto;
		font-size: 16px;
	}

	#smile {
		width: 275px;
	}

	#aboutTag {
		font-size: 16px;
	}

	.about-container {
		flex-direction: column;
	}

	#mascot2 {
		max-width: 325px;
		max-height: 325px;
		padding-left: 3vh;
	}

	#cookieTag {
		font-size: 1rem;
	}

	.cookies-sub {
		padding: 0;
	}

	h5 {
		font-size: 15px;
	}

	/* Carousel Section  */

	.carousel-caption {
		bottom: 0;
		background-color: rgba(5, 0, 0, 0.185);
		padding: 0.3rem;
	}

	.carousel-inner {
		position: relative;
		width: 70%;
		overflow: hidden;
		margin: auto;
	}

	#contactSend {
		width: 100% !important;
	}

	#sub-title {
		font-size: 1.4rem;
	}
}

/* events phone  */

@media screen and (max-width: 550px) {
	h2 {
		font-size: 2.8rem;
	}

	.followUs {
		padding: 2.8rem 0.6rem;
	}

	#social-media-container {
		width: 90%;
	}

	.followUs .icons {
		margin: 1.8rem 0.3rem;
		gap: 0.5rem;
	}

	.followUs .icons i {
		font-size: 2.8rem;
	}

	.event-container h2 {
		margin: 3rem 0;
		font-size: 2.8rem;
	}

	.oneEvent {
		flex-direction: column;
	}

	.oneEvent .event-left {
		padding: 0;
		border-radius: 8px 8px 0 0;
		width: 100%;
	}

	.oneEvent .event-left .event-date .date,
	.oneEvent .event-left .event-date.month {
		display: inline-block;
		font-size: 20px;
	}

	.oneEvent .event-left .event-date {
		padding: 10px 0;
	}

	.event-title {
		font-size: 1.5rem;
		margin: 1.3rem 0;
		/* word-wrap: break-word; */
		text-align: center;
	}

	.event-right {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.event-description {
		text-align: center;
	}

	.event-bottom-half {
		gap: 1rem;
	}

	.event-right .event-bottom-half .event-timing {
		background: #777;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100px;
		padding: 6px;
		border-radius: 11px;
		margin: 14px 0;
		font-size: 15px;
		text-align: center;
	}

	.event-ven-place {
		width: 50%;
	}
}

/* Galaxy Fold  */

@media screen and (max-width: 300px) {
	/* Globals  */

	h2 {
		font-size: 2.3rem;
	}

	/* Navbar Section  */

	#logo-main {
		width: 140px;
	}

	/* About Us Section  */

	.aboutUs {
		padding: 2.8rem 0.8rem;
	}

	#aboutBio {
		font-size: 1.3rem;
		margin-bottom: 0.8rem;
	}

	/* Events Section  */

	.events .left-half .btn {
		width: 165px;
		padding: 0.7rem 0.9rem;
		font-size: 0.8rem;
	}

	/* Cookie Section  */

	.cookies .container .btn {
		width: 165px;
		padding: 0.7rem 0.9rem;
		font-size: 0.8rem;
	}

	/* follow Us Section  */

	.followUs {
		padding: 2.8rem 0;
		display: flex;
		/* flex-direction: column; */
		justify-content: center;
		align-items: center;
		max-width: 100%;
	}

	#social-media-container {
		max-width: 80%;
		align-self: center;
		padding: 0.5rem;
		overflow: hidden;
	}

	.followUs .icons i {
		font-size: 2.4rem;
		margin: 0rem 0.3rem;
	}

	.followUs .icons {
		margin: 1.4rem 0.8rem;
		gap: 0.8rem;
	}

	/* Inquiries Section  */

	.inquiries {
		padding: 2.8rem 0.5rem;
	}
}
