/* Importing a font from Google Fonts. */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

/* A CSS reset. It is used to make sure that all browsers are using the same default styling. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Setting the width of the logo to 180px. */
#logo-main {
    display: block;
    margin: 10px auto;
    width: 180px;
}

/* Setting the mainNav attributes */
.mainNav {
    width: 100%;
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    gap: 2px 12px;
}

/* setting navbar li styling */
.mainNav li {
    display: inline-block;
    float: none;
    margin: 0 10px;
    /* box-shadow: 0 2px 0px 0px rgb(0 0 0 / 25%); */
}

/* mainNav a href attributes */
.mainNav a {
    display: inline-block;
    font-family: 'Alfa Slab One', cursive;
    font-size: 18px;
    color: whitesmoke;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: #262626;
    text-decoration: none;
    font-weight: bold;
}

/* mainNav a href hover afftect */
.mainNav a:hover {
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: #965fcc;
}

/* mainNav when focused on attributes */
.mainNav:focus {
    color: #965fcc;
}

/* navbar styling */
.navbar {
    background-color: white;
}

/* logo z=index */
#Logo {
    z-index: 1;
}

/* hero section styling */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    /* Change hero height here*/
    height: 70vh;
    overflow: hidden;
    background-size: cover !important;
    background: url(/assets/svg/hero.svg) no-repeat center center scroll;
}

/* Logo head in hero */
#smile {
    max-width: 400px;
    vertical-align: middle;
}

/* h2 styling */
h2 {
    font-family: 'Alfa Slab One', cursive;
    z-index: 1;
    font-style: normal;
    color: #965fcc;
    font-size: 8vmin;
    letter-spacing: 0.03em;
    line-height: 1;
    margin-bottom: 40px;
    text-align: center;
}

/* aboutUs section styling */
.aboutUs {
    /* background-color: rgba(203, 200, 200, 0.889); */
    padding: 100px;
    width: 100%;
    overflow: hidden;
    background-size: cover !important;
    background: url(/assets/svg/aboutMe.svg) no-repeat center 65%;
}

/* aboutUs bio styling */
#aboutBio {
    font-family: 'Alfa Slab One', cursive;
    font-size: 25px;
    color: #262626;
    text-align: center;
    justify-content: center;
}

/* aboutUs tag styling */
#aboutTag {
    font-size: 20px;
    max-width: 600px;
    justify-content: center;
    text-align: center;
    margin: auto;
}

/* events styling */
.events {
    display: flex;
    background-color: rgb(240, 240, 240);
    padding: 45px;
    align-items: center;
    justify-content: space-evenly;
}

.left-half {
    grid-column: 1;
    align-self: center;
}

.right-half {
    grid-column: 2;
    justify-content: center;
}

#eventTag {
    font-size: 20px;
    max-width: 600px;
    justify-content: center;
    text-align: center;
    margin: auto;
}

/* events mascot attributes */
#mascot {
    max-width: 500px;
    max-height: 500px;
    margin: auto;
}

.homeCookie-container {
    padding: 45px;
    display: flex;
}

.cookies {
    display: grid;
    background-color: white;
    padding: 45px;
}

.left-cookie {
    grid-column: 1;
    align-self: center;
}

.right-cookie {
    grid-column: 2;
    justify-content: center;
}

#cookieTag {
    font-size: 20px;
    max-width: 600px;
    justify-content: center;
    text-align: center;
    margin: auto;
}

#homecookie {
    max-width: 300px;
    max-height: 300px;
    margin: auto;
}



/* follow us styling for container */
.followUs {
    text-align: center;
    justify-content: center;
    padding: 100px 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(240, 240, 240);
}

/* follow us icons styling */
.icons {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    margin-top: 20px;
}

/* icons color */
.fa-brands {
    color: #965fcc;
}

/* footer icons styling  */
.footerIcons {
    text-decoration: none;
    float: none;
    list-style: none;
}


/* text box styling */
.text-box {
    display: flex;
    justify-content: center;
    padding: 20px;
}

/* main button effects */
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 100px;
    transition: all .2s;
}

/* main button on hover */
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* main button when active */
.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* button on dark background */
.btn-white {
    background-color: #fff;
    color: #777;
}

/* after clicking button styling */
.btn::after {
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 100px;
    z-index: -1;
    transition: all .4s;
}

/* after styling */
.btn-white::after {
    background-color: #fff;
}

/* button hover styling after  */
.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

/* buttons animation */
.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

/* container */
.container {
    max-width: 1080px;
}

/* form inquiries */
.inquiries {
    background-color: white;
    padding: 4rem 2.8rem 2.8rem 2.8rem;
}

/* form subtitle */
#sub-title {
    font-size: 1.3rem;
    text-align: center;
}

/* form styling */
.inquiries form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

/* questions input styling */
.questions-input {
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid rgb(240, 240, 240);
    outline: none;
}

/* form message styling */
#contactMessage {
    resize: none;
    min-height: 140px;
}

/* form styling */
.inquiries .btn-container {
    padding: 0;
}

/* form styling button */
.inquiries .btn-container button {
    padding: 0.5rem;
}

/* send button styling */
#contactSend {
    transition: all 0.3s ease;
    background-color: #965fcc;
    border-radius: 10px;
    width: 50% !important;
    border: none;
    color: #fff;
    align-self: center;
    text-align: center;
}

/* form button container */
.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* form button styling */
#formBtn {
    color: #fff;
    text-decoration: none;
}

/* form button on hover styling */
#contactSend:hover {
    background-color: #1db2e8;
}

/* form width */
.inquiries form #contactSend {
    width: 100%;
}

/* scontainer for social media */
#social-media-container {
    display: flex;
}

/* Footer */
.footer-icon-container {
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}

/* footer icons  */
.me-4 {
    margin: 0 !important;
}

/* footer I tag */
footer i {
    font-size: 25px;
}

/* About Me Page */
#aboutTitle {
    font-size: 35px;
    font-family: 'Alfa Slab One', cursive;
    color: #965fcc;
    text-align: center;
    padding: 35px;
}

/* about page styling */
.aboutPage {
    text-align: center;
    justify-content: center;
    padding: 20px;
}

/* about page p tag styling */
.aboutPage p {
    font-size: 15px;
}

/* removing default styling to p tag */
p {
    margin-bottom: 0;
}

/* submit button padding */
#submitBtn {
    padding: 10px;
}

/* second mascott styling */
#mascot2 {
    max-width: 400px;
    max-height: 400px;
    margin: auto;
    justify-content: right;
}

/* about container styling */
.about-container {
    background-color: rgb(240, 240, 240);
    padding: 45px;
    display: flex;
}

/* about us story styling */
.our-story-title {
    font-family: 'Alfa Slab One', cursive;
    font-size: 25px;
    color: #262626;
}

/* keyfram for button */
/* Cookie Page */
#cookieTitle {
    font-size: 35px;
    font-family: 'Alfa Slab One', cursive;
    color: #965fcc;
    text-align: center;
    padding: 35px;
}


.carousel {
        position: relative;
        background: #00000017;
} 

.carousel-control-prev-icon, 
.carousel-control-next-icon {
    filter: invert(100%);
    width: 70px;
    height: 70px;
}

.carousel-control-next,
.carousel-control-prev {
    align-items: flex-end;
    
} 

/* h5 {
    font-size: 25px;
    color: #262626;
    text-align: center;
    background-color: rgb(240, 240, 240);    
} */

.carousel-inner {
    position: relative;
    width: 40%;
    overflow: hidden;
    margin: auto;
}


.carousel-caption {
    bottom: 0;
    background-color: rgba(5, 0, 0, 0.185)
}





@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* media queries for mascott*/
@media screen and (max-width: 447px) {
    #mascot {
        display: none;
    }

}

/* media queries for throught whole page */
@media screen and (max-width: 670px) {

    /* Homepage */
    .hero {
        height: 55vh;
    }

    .aboutUs {
        padding: 100px 45px;
    }

    .icons {
        flex-direction: row;
        padding-left: 0;
    }

    #social-media-container {
        flex-direction: column;
    }

    .twitter-timeline {
        width: 350px !important;
    }

    .events {
        justify-content: center;
        padding: 100px 45px;
    }

    #mascot {
        display: none;
    }

    #eventTag {
        padding: 10px;
        margin: auto;
        font-size: 16px;
    }

    #smile {
        width: 275px;
    }

    #aboutTag {
        font-size: 16px;
    }

    .about-container {
        flex-direction: column;
    }

    #mascot2 {
        max-width: 325px;
        max-height: 325px;
        padding-left: 3vh;
    }

    h5 {
        font-size: 15px;
    }

    .carousel-caption {
        bottom: 0;
        background-color: rgba(5, 0, 0, 0.185);
    }

    .carousel-control-next,
    .carousel-control-prev {
        align-items: center;  
} 


    #contactSend {
        width: 100% !important;
    }
}